 body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #003300;
}

header{
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


.hero{
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    align-items: center;
}

.hero-text h2{
    font-size: 28px;
}

.hero-text span{
    background-color: rgb(159, 156, 167);
    padding: 2px 6px;
}

.hero-img img{
    width: 200px;
    border-radius: 20px;
}

button{
    background-color: #ff5500;
    color: white;
    border: none;
    padding: 10px 16px;
    margin-top: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.about{
    text-align: center;
    padding: 40px 20px;
    background-color: #ccffcc;
}

    
.portfolio{
    padding: 40px 20px;
    background-color: #e6ffe6;
    text-align: center;
}

.portfolio-card{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    background-color: rgb(247, 248, 255);
    border: 1px solid #999;
    padding: 20px;
    border-radius: 10px;
    width: 280px;
}

.card img{
    width: 100%;
    border-radius: 6px;
}